[submodule "Funtal/vendor/spdlog"]
	path = Funtal/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Funtal/vendor/GLFW"]
	path = Funtal/vendor/GLFW
	url = https://github.com/glfw/glfw

[submodule "Funtal/vendor/imgui"]
	path = Funtal/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Funtal/vendor/glm"]
	path = Funtal/vendor/glm
	url = https://github.com/g-truc/glm
