[submodule "Funtal/vendor/spdlog"]
	path = Funtal/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Funtal/vendor/GLFW"]
	path = Funtal/vendor/GLFW
	url = https://github.com/glfw/glfw
